<%- include('blocks/header.ejs') %>
   <br>
   <!--Slider-->
   <div class="slideshow-container">
   <div class="slider fade">
      <img src="https://sun9-33.userapi.com/c836420/v836420329/16132/RvX5LbjLiU8.jpg" alt="" style="width: 100%;">
      <div class="text">Text</div>
   </div>

   <div class="slider fade">
      <img src="https://sun9-9.userapi.com/c836420/v836420329/1613b/Vvjhy1qAGFY.jpg" alt="" style="width: 100%;">
      <div class="text">Text</div>
   </div>
   <div class="slider fade">
      <img src="https://sun9-26.userapi.com/c836420/v836420329/16144/WVc9fc0qNAU.jpg" alt="" style="width: 100%;">
      <div class="text">Text</div>
   </div>

   <a class="prev" onclick="plusSlides(-1)">&#10094</a>
   <a class="next" onclick="plusSlides(1)">&#10095</a>
   </div>
   <div style="text-align: center;">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
   </div>

   <!--end slider-->

   <!--Gallery-->
   <div class="gallery">
      <div class="image">
         <img src="service1.jpg" alt="" class="popup_img">
      </div>
      <div class="image">
         <img src="service2.jfif" alt="" class="popup_img">
      </div>
      <div class="image">
         <img src="service3.jfif" alt="" class="popup_img">
      </div>
      <div class="image">
         <img src="service4.jpg" alt="" class="popup_img">
      </div>
      <div class="image">
         <img src="service5.jfif" alt="" class="popup_img">
      </div>
      <div class="image">
         <img src="service6.jfif" alt="" class="popup_img">
      </div>
      <div class="image">
         <img src="service7.jfif" alt="" class="popup_img">
      </div>
      <div class="image">
         <img src="service8.jpg" alt="" class="popup_img">
      </div>
   </div>
   <!--end Gallery-->

<%- include('blocks/footer.ejs') %>