<%- include('blocks/header.ejs') %>
<br>
<div class="card">
    <div class="card__div">
        <h3>1</h3>
        <p>Описание услуги 1</p>
        <button>Подробнее</button>
    </div>
    <div class="card__div">
        <h3>2</h3>
        <p>Описание услуги 2</p>
        <button>Подробнее</button>
    </div>
    <div class="card__div">
        <h3>3</h3>
        <p>Описание услуги 3</p>
        <button>Подробнее</button>
    </div>
</div>

<%- include('blocks/footer.ejs') %>