<br><br>
<footer>
    <ul class="footer__nav__menu">
        <h3>Основное</h3>
        <li><a href="/"><i class="fas fa-home"></i> Главная</a></li>
        <li><a href="/contact"><i class="fas fa-id-card"></i> Контакты</a></li>
        <li><a href="/aboutus"><i class="far fa-address-card"></i> О нас</a></li>
        <li><a href="/price"><i class="fas fa-tag"></i> Цены</a></li>
        <li><a href="/more"><i class="fas fa-angle-double-right"></i> Подробнее</a></li>
    </ul>
    <ul class="footer__about__menu">
        <h3>О проекте</h3>
        <li><a href="/">Правила</a></li>
        <li><a href="/contact">Конфиденциальность</a></li>
        <li><a href="/aboutus">Идеи и предложения</a></li>
        <li><a href="/price">Поддержка</a></li>
        <li><a href="/more">Наша команда</a></li>
    </ul>
    <ul class="footer__about__menu">
        <h3>Дополнительно</h3>
        <li><a href="/">Реклама</a></li>
        <li><a href="/contact">Карта магазина</a></li>
        <li><a href="/aboutus">Галлерея</a></li>
        <li><a href="/price">Запись на ТО</a></li>
        <li><a href="/more">Услуги</a></li>
    </ul>
    <div class="social">
        <h3>Оставайтесь на связи!</h3><br>
        <a href="https://vk.com/stell.team" target="_blank" title="Мы в вконтакте"><i class="fab fa-vk"></i></a>
        <a href="https://www.youtube.com/channel/UC3HsqJ2D2e1UX0LV4y6MfhA" target="_blank" title="Мы на youtube"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/Stell_officiaLL" target="_blank" title="Наш twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://stell-team.ru/" target="_blank" title="Наш сайт"><i class="fab fa-chrome"></i></a>
    </div>
</footer>
<script src="animate.js"></script>
<script src="slider.js"></script>
</body>
</html>